.portfolio {
    padding: 39px 0 0;

    h3 {
        margin-bottom: 63px;
        padding-bottom: 0;
        font-size: 27px;

        &::before {
            bottom: -22px;
            width: 105px;
        }

        &::after {
            bottom: -30px;
            left: -5px;
            width: 33px;
        }
    }

    .wrap {
        grid-gap: 7px;
        grid-template-columns: 1fr;
        height: 163 * 4 + 3 * 7px;
        padding: 0 21px 0 19px;
        overflow: hidden;

        .item {
            height: 163px;

            &.col-2 {
                grid-column: span 1;
            }

            .hover {

                .icons {
                    top: 43px;
                    left: 6px;

                    a {
                        width: 26.4px;
                        height: 26.4px;
                        margin: 0 2px;

                        &::before {
                            width: 12px;
                            height: 12px;
                            background-size: 100%;
                        }

                        &.more::before {
                            margin-top: 0;
                            background-position: top left;
                        }

                        &.view::before {
                            margin-top: 0;
                            background-position: top 3px center;
                        }
                    }
                }

                .footer {
                    padding: 13px 5px 11px;

                    h3 {
                        margin-bottom: 6px;
                        margin-left: -8px;
                        font-size: 13.99px;
                    }

                    p {
                        margin-left: 4px;
                        font-size: 10.99px;
                    }
                }
            }
        }
    }
}
