.service {
    padding: 75px 0 8px;
    background-color: $color-11;

    h3 {
        margin-bottom: 47px;
        margin-left: -3px;
        padding-bottom: 34px;
        font-size: 28.99px;

        &::before {
            bottom: 11px;
            width: 105px;
        }

        &::after {
            bottom: 0;
            width: 33px;
            background-color: $color-11;
        }
    }

    .wrap {
        flex-direction: column;
        align-items: center;
        width: 100%;

        .item {
            margin-bottom: 63px;
            margin-left: -11px;

            h3 {
                padding-bottom: 1px;
            }
        }
    }
}
