$color-1: #0E0E0E;
$color-2: #FFFFFF;
$color-3: #3AB6B2;
$color-4: #292929;
$color-5: #323232;
$color-6: #D3D3D3;
$color-7: #707070;
$color-8: #6A6A6A;
$color-9: #3B3B3B;
$color-10: #000000;
$color-11: #000000;
$color-12: #000000;
$color-13: #E6E6E6;
$color-14: rgba(0, 0, 0, .6);
